/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;align-items: center; }
body { margin: 20; font-family: Roboto, "Helvetica Neue", sans-serif;}
button {
    background-color: #fff;
    color: rgb(39, 99, 167);
    padding: 6px 12px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
    color: #fff;
  }